@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@100 & display=swap');

* {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}

header {
    display: flex;
    justify-items: end;   
}

ul {
   display: flex;
   width: 100%;
   justify-content: space-between; 
}

li {
    list-style: none;
    color: #e5ab5ea8;
    cursor: pointer;
    font-size: 20px;
    transition: .5s;
    font-family: 'Montserrat:wght@100';
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
}

li:hover {
    color: black;
}

.start{
    margin-top: 0px;
    margin-left: -8px;    
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column; 
    height: 365px;
}

.logo{
    height: auto;
    justify-content: space-between; 
    margin-top: 50px;
}

main{
    width: 94.5%;
    height: auto;
    margin-left: 45px;
}

.title-1{
    height: 50px;
    color: white;
    font-size: 40px;
    font-family: 'Montserrat:wght@100';
    font-style: bold;
    margin-right: 150px;
    margin-top: 200px;   
}

.text-1{
    width: 98%;
    height: auto;
    margin-left: -1px;
    margin-top: 10px;
    color: #f8ddbd;
    font-size: 15px;
    font-family: 'Montserrat:wght@100';
    display: inline-tablec;
    text-align: justify;
    background: radial-gradient(farthest-corner, #ac300e, transparent),
                radial-gradient(farthest-corner, #bd7921ba, transparent),
                radial-gradient(farthest-corner, #e5ab5ea8, transparent),
                radial-gradient(farthest-corner, #e5ab5ea8, transparent),
                radial-gradient(farthest-corner, #1f6b91cf, transparent),
                radial-gradient(farthest-corner, #2a3cc094, transparent),
                radial-gradient(farthest-corner, #ac300e, transparent);       
}

#banner {
    display: flex;
    width: 98%;
    height: auto;
    margin-left: -2px;
}

.text-2{
    width: 98%;
    height: auto;
    margin-left: -2px;
    color: #f8ddbd;
    font-size: 15px;
    font-family: 'Montserrat:wght@100';
    display: inline-tablecfle;
    text-align: justify;
    background: radial-gradient(farthest-corner, #ac300e, transparent),
                radial-gradient(farthest-corner, #bd7921ba, transparent),
                radial-gradient(farthest-corner, #e5ab5ea8, transparent),
                radial-gradient(farthest-corner, #e5ab5ea8, transparent),
                radial-gradient(farthest-corner, #1f6b91cf, transparent),
                radial-gradient(farthest-corner, #2a3cc094, transparent),
                radial-gradient(farthest-corner, #ac300e, transparent);    
}

.button {
    width: 140px;
    height: 40px;
    color: #ac300e;
    padding: 1px 2px; 
    border-radius: 10px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    text-align: center;
    display: flex;
    margin-top: 60px;
    margin-left: 550PX;
}

.button:hover {
    background-color: green;
    color: aliceblue;
}

footer{
    width: 100%;
    height: auto;
    margin-top: 100px;
    display: flex;
    background-color: #ac300e;
    justify-content: center;
}

span{
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Montserrat:wght@100'; 
}

.footer-navigation{
    display: none;
}

.footer-list{
    display: none
}

@media(max-width: 1024px){

    #logo {
        width: 450px;
        height: auto; 
        margin-top: 35px;
        margin-left: 5px;
    }
    
    main{
        width: 95%;
        height: auto;
        margin-top: -100px;
        margin-right: 10PX;
    }
    
    .title-1{
        width: 340px;
        height: 100px;
        margin-left: 80px; 
        font-size: 60px;
        margin-top: 100PX; 
    }

    .button {
        width: 120px;
        font-size: 15px;
        display: flex;
        margin-top: 80px;
        margin-left: 450px;
    }
}

@media(max-width: 768px){

    nav {
        display: flex;
    }

    #logo {
        width: 429px;
        height: auto; 
        margin-top: 35px;
        margin-left: 5px;
    }
    
    main{
        width: 93.5%;
        height: auto;
        margin-left: 35px;
        margin-top: -100px;
    }
    
    .title-1{
        width: 240px;
        height: 100px;
        margin-left: 80px; 
        font-size: 45px;
        margin-top: 100PX; 
    }

    .button {
        width: 120px;
        font-size: 15px;
        display: flex;
        margin-top: 60px;
        margin-left: 320px;
    }
}

@media(max-width: 480px){

    nav {
        display: none;
    }

    #logo {
        width: 255px;
        height: auto; 
        margin-top: 50px;
        margin-right: 50px;
        margin-left: 10px;
    }

    
    main{
        width: 85.9%;
        height: auto;
        margin-left: 35px;
        margin-top: -190px;
    }
    
    .title-1{
        width: 150px;
        height: 120px;
        margin-top: 40px; 
        margin-left: -25px; 
        font-size: 35px; 
    }

    .button {
        width: 120px;
        font-size: 15px;
        display: flex;
        margin-top: 60px;
        margin-left: 160px;
    }
    
    footer{
        flex-direction: column;
        align-items: center;
        font-size: 13px;
    }

    span{
        margin-top: 20px;
    }

    .footer-navigation{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .footer-list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);     
    }
}



